# Jupyter Notebook
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Virtual Environment
venv/
env/
ml_env/

# VS Code
.vscode/

# Streamlit cache
.streamlit/secrets.toml

# Operating System
.DS_Store
Thumbs.db